*.swp
**/__pycache__/**
checkpoints/
.DS_Store
venv/
venv1/
DataCollection/videos**
DataCollection/train/
DataCollection/val/
DataCollection/data/
DataCollection/pose_classification/
DataCollection/pose_processed/
DataCollection/sh_gs/
model/
video-contrastive-learning/pretrain/
**frame**
**ckpt**
*.pth
**/train/**
**/val/**
data/
