*.swp
**/__pycache__/**
checkpoints/
.DS_Store
venv/
venv1/
DataCollection/videos**
DataCollection/train/
DataCollection/val/
model/
video-contrastive-learning/results**
video-contrastive-learning/pretrain/
